@tailwind base;
@tailwind components;
@tailwind utilities;


img{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* id dùng  #container */
#container{ 
    overflow: hidden;
    position: absolute;
}
